.title_tq1{
  color: #17479b;
  font-family:'SanFranciscoText-Medium';
  margin: 0;
  font-size: 16px;
}
.title_tq2{
  font-family:'SanFranciscoDisplay-Bold';
  color: #17479b;
  font-size: 44px;
  margin: 0;
}
.time1{
  color: #6f6f6f;
  font-family:'SanFranciscoText-Regular';
}
.boximg_tq{
  min-width: 219px;
  width: 100%;
}