.title_tq1{
  color: #17479b;
  font-family:'SanFranciscoText-Medium';
  margin: 0;
  font-size: 16px;
}
.title_tq2{
  font-family:'SanFranciscoDisplay-Bold';
  color: #17479b;
  font-size: 44px;
  margin: 0;
}
.time1{
  color: #6f6f6f;
  font-family:'SanFranciscoText-Regular';
}
.boximg_tq{
  min-width: 219px;
  width: 100%;
}
.card2{
  .uk-card-body{
    time{
      color: #6f6f6f;
      font-family:'SanFranciscoText-Regular';
    }
    .uk-card-title{
      margin: 0;
      margin-top: 5px;
      font-family:'SanFranciscoText-Medium';
      a{
        color: #333333;
      }
    }
    p{
      font-family:'SanFranciscoText-Regular';
    }
    .uk-link{
      color: #17479b;
    }
  }
}
.boximg_thanhtic{
  min-width: 200px;
  width: 100%;
  text-align: center;
}
.title_thanhtic{
  font-family:'SanFranciscoText-Regular';
  color: #000;
  margin: 0;
  font-size: 15px;
  &:nth-child(n+2){
    margin-top: 15px;
  }
}