.title_tq1{
  color: #17479b;
  font-family:'SanFranciscoText-Medium';
  margin: 0;
  font-size: 16px;
}
.title_tq2{
  font-family:'SanFranciscoDisplay-Bold';
  color: #17479b;
  font-size: 44px;
  margin: 0;
}
.time1{
  color: #6f6f6f;
  font-family:'SanFranciscoText-Regular';
}
.boximg_tq{
  min-width: 219px;
  width: 100%;
}
.card2{
  .uk-card-body{
    time{
      color: #6f6f6f;
      font-family:'SanFranciscoText-Regular';
    }
    .uk-card-title{
      margin: 0;
      margin-top: 5px;
      font-family:'SanFranciscoText-Medium';
      a{
        color: #333333;
      }
    }
    p{
      font-family:'SanFranciscoText-Regular';
    }
    .uk-link{
      color: #17479b;
    }
  }
}
.boximg_thanhtic{
  min-width: 200px;
  width: 100%;
  text-align: center;
}
.title_thanhtic{
  font-family:'SanFranciscoText-Regular';
  color: #000;
  margin: 0;
  font-size: 15px;
  &:nth-child(n+2){
    margin-top: 15px;
  }
}
.box1_bdh{
  background-color: #e1e1e1;
  padding: 20px;
  width: calc(200px + 0px);
  img{

  }
  .title{
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
    font-family:'SanFranciscoText-Medium';
    color: #17479b;
  }
  small{
    color: #6f6f6f;
    font-size: 13px;
  }
}
.btn1{
  text-transform: inherit;
  position: relative;
  padding-left: 15px;
  .uk-icon{
    right: 10px;
  }
}
.box2_tq{
  li{
    &:nth-child(n+2){
      margin-top: 10px;
    }
  }
  .uk-accordion-title{
    background-color: #17479b;
    color: #FFFFFF;
    padding: 15px 0;
    font-family:'SanFranciscoText-Medium';
    font-size: 17px;
    &:before{
      content: "\f105";
      font-family: FontAwesome;
      background-image: none;
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .uk-open{
    .uk-accordion-title{
      &:before{
        content: "\f107";
      }
    }
  }
}
.table1_tq{
  border: 1px solid #6f6f6f;
  tbody{
    tr{
      &:nth-child(n+2){
        border: 1px solid #6f6f6f;
      }
    }
  }
  tr{
    th{
      border: 1px solid #6f6f6f;
      text-align: center;
      text-transform: inherit;
      font-family:'Roboto-Medium_0';
      color: #333333;
      background-color: #c7e0ff;
      white-space: nowrap;
    }
    td{
      &:nth-child(n+2){
        border-left: 1px solid #6f6f6f;
      }
      &:last-child{
        white-space: nowrap;
      }
    }
  }
}