.title_article1{
  font-family:'SanFranciscoText-Medium';
  color: #17479b;
}
.quote1{
  font-family:'SanFranciscoText-Regular';
  font-size: 18px;
  color: #333333;
  padding: 0 50px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
.title2{
  text-transform: uppercase;
  border-bottom: 1px solid #6f6f6f;
  color: #6f6f6f;
  font-family:'SanFranciscoText-Medium';
  font-size: 18px;
  padding-bottom: 5px;
}
.box1_antoan{
  .uk-cover-container{
    a{
      color: #FFFFFF;
    }
  }
  .title1_at{
    margin: 0;
    margin-top: 10px;
    font-family:'SanFranciscoText-Medium';
    font-size: 16px;
    a{
      color: #333333;
    }
  }
}