.uk-breadcrumb{
  li{
    &:nth-child(n+2){
      &:not(.uk-first-column){
        &:before{
          content: '';
          width: 10px;
          height: 1px;
          display: inline-block;
          background-color: #333333;
          margin: 0 5px;
          vertical-align: middle;
        }
      }
    }
    span,
    a{
      color: #333333;
    }
  }
}