body{
  font-size: 14px;
  font-family:'SanFranciscoText-Regular';
  color: #333333;
}
.uk-container-large{
  max-width: 9999px;
  @media(min-width: 1600px){
    padding-left: 100px;
    padding-right: 100px;
  }
}
.title_common{
  font-size: 24px;
  margin-top: 0;
  color: #17479b;
  font-family:'SanFranciscoText-Medium';
}
.desc_c{
  font-family:'SanFranciscoText-Regular';
  color: #000;
}
.common{
  &.uk-grid-divider{
    >div{
      &:not(.uk-first-column){
        &:before{
          border-color: #6f6f6f !important;
        }
      }
    }
  }
}
.title_aside{
  color: #17479b;
  font-size: 16px;
  font-family:'SanFranciscoText-Medium';
  position: relative;
  padding-bottom: 6px;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #6f6f6f;
    width: calc(100% + 40px);
  }
}
.title_c1{
  font-size: 16px;
  color: #17479b;
  font-family:'SanFranciscoText-Medium';
}
.card1{
  background-color: #17479b;
}