.hoidap{
  li{
    border: 1px solid #6F6F6F;
    &:nth-child(n+2){
      margin: 0;
      margin-top: -1px;
    }
    .uk-accordion-title{
      color: #17479b;
      font-family:'SanFranciscoText-Medium';
      font-size: 14px;
      padding: 15px 20px;
      &:before{
        content: "\f107";
        font-family: FontAwesome;
        background-image: none;
        font-size: 18px;
        text-align: center;
      }
    }
    .uk-accordion-content{
      margin: 0;
      padding: 15px 20px;
      font-family:'SanFranciscoText-Regular';
    }
    &.uk-open{
      .uk-accordion-title{
        background-color: #17479b;
        color: #FFFFFF;
        &:before{
          content: "\f106";
        }
      }
    }
  }
}
.name_hd{
  margin: 0;
  font-family:'SanFranciscoText-Regular';
  color: #333333;
}
.time2{
  color: #6f6f6f;
}
.title1_dv{
  color: #17479b;
  font-size: 20px;
  font-family:'SanFranciscoText-Medium';
}
.btn-send{
  background-color: #17479b;
  border-color: #17479b;
}
.card1_dv{
  .uk-card-primary{
    background-color: #17479b;
    font-size: 14px;
  }
  .uk-card-body{
    border: 1px solid #6F6F6F;
    border-top: none;
    .uk-list{
      li{
        margin: 0;
        font-family:'SanFranciscoText-Regular';
        color: #333333;
      }
    }
    a{
      color: #17479b;
    }
  }
}
.title2_dv{
  background-color: #17479b;
  color: #FFFFFF;
  font-size: 15px;
  font-family:'SanFranciscoText-Medium';
  padding: 15px 15px;
  margin-bottom: 0;
}
.table1_dv{
  tr{
    th{
      background: #F0F4FB;
      color: #17479b;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    td{
      font-family:'SanFranciscoText-Regular';
      color: #333333;
      &:first-child{
        &:not(.chuthich){
          text-align: center;
          color: #17479b;
          font-family:'SanFranciscoText-Medium';
        }
      }
    }
    th,td{
      border: 1px solid #6F6F6F;
    }
  }
}
.title1_table{
  color: #17479b;
  font-size: 14px;
  font-family:'SanFranciscoText-Medium';
}
.bieugiadien{
  li{
    &.uk-active{
      a{
        background: #17479B !important;
        color: #FFFFFF !important;
      }
    }
    a{
      font-family:'SanFranciscoText-Medium';
      color: #17479b !important;
      background: #F0F4FB !important;
      padding: 15px !important;
    }
  }
}