.fixed1{
  z-index: 1;
  right: 15px;
  top: 110px;
  .uk-icon-button{
    color: #17479b;
    text-decoration: none;
    svg{
      width: 17px;
      color: #17479b;
    }
  }
  .uk-search-icon{
    background: #f8f8f8;
  }
}
.select_lang{
  width: 36px;
  height: 36px;
  transition: height .3s;
  border-radius: 18px;
  overflow: hidden;
  @extend .uk-search-icon;
  &:hover{
    height: 108px;
    border-radius: 18px;
  }
  .uk-icon{
    color: #17479b;
  }
  .uk-flex{
    [lang='vi'] &{
      flex-direction: column;
    }
    [lang='en'] &{
      flex-direction: column-reverse;
    }
    a{
      position: relative;
      &:after{
        content: '';
        width: 16px;
        height: 1px;
        background-color: #58595b;
        position: absolute;
        bottom: -1;
        left: calc((100% - 16px)/2);
        display: inline-block;
      }
    }
  }
  a{
    padding: 0px 10px;
    line-height: 36px;
    display: block;
    color: #58595b;
    text-decoration: none;
    &:hover{
      color: #17479b;
    }
  }
}
.fixed2{
  z-index: 2;
  right: 15px;
  bottom: 150px;
}
.txt_hotro{
  .fixed2 &{
    white-space: nowrap;
    transform: rotate(90deg);
    font-size: 17px;
    color: #B8B8B8;
    top: -170px;
    left: 0;
    right: 0;
    font-family:'Roboto-Regular';
  }
}
.boxchat_img{
  background-color: #fff;
  border-radius: 50%;
  border: 0.9921px solid #17479B;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: relative;
  img{
    animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
  }
}
.suntory-alo-ph-circle-fill {
  animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
  border: 2px solid transparent;
  border-radius: 100%;
  height: 67px;
  position: absolute;
  top: calc((100% - 71px)/2);
  left: calc((100% - 71px)/2);
  right: calc((100% - 71px)/2);
  bottom: calc((100% - 71px)/2);
  transform-origin: 50% 50% 0;
  transition: all .5s ease 0s;
  width: 67px;
  background-color: #17479B;
}