#footer{
  background-color: #f9f9f9;
  border-top: 1px solid #6F6F6F;
}
.logo_f{
  img{
    height: 46px;
    @media(min-width: 1600px){
      height: 60px;
    }
  }
}
.title_f{
  color: #17479b;
  font-size: 18px;
  line-height: 24px;
  font-family:'SanFranciscoDisplay-Bold';
  font-weight: bold;
  .hotline &{
    color: #333333;
    span{
      color: #f20022;
    }
  }
}
.social_f{
  @media(min-width: 1920px){
    svg{
      width: 30px;
    }
  }
  a{
    color: #333333;
  }
}
.author{
  font-size: 0.9375rem;
  @media(min-width: 1600px){
    font-size: 1.0625rem;
  }
  @media(min-width: 1800px){
    font-size: 1.125rem;
  }
  @media(min-width: 1920px){
    font-size: 1.125rem;
  }
  a{
    .hotline &{
      color: #333333;
    }
  }
}
.title_fix{
  color: #17479b;
  font-size: 18px;
  line-height: 24px;
  font-family:'SanFranciscoDisplay-Bold';
  font-weight: bold;
  span{
    color: #f20022;
  }
}
.info_cty{
  font-size: 0.875rem;
  @media(min-width: 1600px){
    font-size: 1.0625rem;
  }
  @media(min-width: 1800px){
    font-size: 1.125rem;
  }
  @media(min-width: 1920px){
    font-size: 1.125rem;
  }
}