#header{
  background-color: rgba(255, 255, 255, 0.9);
  width: 100% !important;
  & + .uk-sticky-placeholder{
    display: none;
  }
  &.uk-active{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    z-index: 1000;
    position: fixed !important;
  }
  .uk-navbar-dropdown{
    background-color: rgba(255, 255, 255, 0.9);
  }
  .uk-dropdown{
    min-width: 250px;
  }
  .uk-navbar-dropdown-nav{
    >li{
      position: relative;
      &:nth-child(n+2){
        >a{
          &:after{
            content: '';
            display: block;
            width: calc(100% - 30px);
            height: 1px;
            background-color: #d2d2d2;
            opacity: .5;
            right: 15px;
            left: 15px;
            position: absolute;
            top: 0;
          }
        }
      }
      &:hover{
        >a{
          color: #17479b;
          opacity: 1;
        }
      }
      >a{
        padding: 10px 15px;
        color: #333333;
        opacity: .5;
        position: relative;
        font-family:'SanFranciscoText-Regular';
        font-size: 14.5px;
        &[aria-expanded]{
          &:before{
            content: "\f105";
            font-family: FontAwesome;
            position: absolute;
            right: 15px;
            top: calc((100% - 17px)/2);
          }
        }
      }
    }
  }
  .uk-navbar-nav{
    &.uk-visible\@m{
      >li{
        &:hover{
          >a{
            &:before{
              right: 15px;
            }
          }
        }
        >a{
          &.uk-open{
            &:before{
              right: 15px;
            }
          }
        }
      }
    }
    >li{
      >a{
        color: #333333;
        font-size: 15px;
        font-family:'SanFranciscoText-Regular';
        position: relative;
        @extend .uk-navbar-item;
        &:before{
          content: '';
          display: block;
          position: absolute;
          left: 15px;
          right: calc(102% - 15px);
          bottom: 20px;
          height: 2px;
          background-color: #17479b;
          transition: .3s ease-in-out;
          transition-property: right;
        }
      }
    }
  }
  .uk-navbar-item{
    min-height: 75px;
  }
}