#header{
  .uk-navbar-dropdown{
    box-shadow: none !important;
    &:not(.uk-dropdown-bottom-right){
      left: 15px !important;
    }
    &:not(.uk-dropdown-bottom-left){
      //right: 15px !important;
      //left: inherit !important;
    }
  }
  .uk-dropdown{
    min-width: 250px;
    width: auto;
  }
  .uk-navbar-dropdown-nav{
    background-color: rgba(255, 255, 255, 0.9);
    >li{
      position: relative;
      >.uk-nav{
        display: none !important;
      }
      &:nth-child(n+2){
        >a{
          &:after{
            content: '';
            display: block;
            width: calc(100% - 30px);
            height: 1px;
            background-color: #d2d2d2;
            opacity: .5;
            right: 15px;
            left: 15px;
            position: absolute;
            top: 0;
          }
        }
      }
      &:hover{
        >a{
          color: #17479b;
          opacity: 1;
          background-color: rgba(255, 255, 255, 0.91);
        }
      }
      >a{
        padding: 10px 15px;
        color: #333333;
        opacity: .5;
        position: relative;
        font-family:'SanFranciscoText-Regular';
        font-size: 14.5px;
        &[aria-expanded]{
          &:before{
            opacity: 0;
            content: "\f105";
            font-family: FontAwesome;
            position: absolute;
            right: 15px;
            top: calc((100% - 17px)/2);
          }
        }
      }
    }
  }
}